#### Bibliotecas

In [38]:
# pandas 
import pandas as pd
df = pd.DataFrame(
{
    "Nome":["Maik", "Maiana", "Dionisio","Genivalda"],
    "Idade":["29", "26","53","51"]
})

df["Idade"].max()

'53'

In [39]:
# requests

#### Funções Específicas

In [40]:
# datas no pandas

In [41]:
# funcao datetime
import pandas as pd

tabela = pd.read_excel("Contratos.xlsx")
tabela["Data Pagamento"] = pd.to_datetime(tabela["Data Pagamento"], format= '%d/%m/%Y')
tabela["Data Pagamento 2"] = pd.to_datetime(tabela["Data Pagamento 2"], format= '%m-%d-%y')
print(tabela.dtypes)
display(tabela)

Cliente                     object
Data Pagamento      datetime64[ns]
Data Pagamento 2    datetime64[ns]
dtype: object

    Cliente Data Pagamento Data Pagamento 2
0    Fulano     2022-09-22       2022-09-22
1  Beltrano     2022-04-17       2022-04-17
2   Ciclano     2022-02-21       2022-02-21
3      Lira     2022-12-27       2022-12-27
4     Julia     2022-02-01       2022-02-01
5    Marcus     2022-07-08       2022-07-08
6    Amanda     2022-09-28       2022-09-28
7   Larissa     2022-05-28       2022-05-28
8      Alon     2022-10-06       2022-10-06

In [42]:
# funcao merge do pandas
emails = pd.read_excel("Emails.xlsx")
tabela = tabela.merge(emails, left_on="Cliente", right_on="Nome")
tabela = tabela.drop(columns="Nome")
display(tabela)

    Cliente Data Pagamento Data Pagamento 2               Email
0    Fulano     2022-09-22       2022-09-22    fulano@gmail.com
1  Beltrano     2022-04-17       2022-04-17  beltrano@gmail.com
2   Ciclano     2022-02-21       2022-02-21   ciclano@gmail.com
3      Lira     2022-12-27       2022-12-27      lira@gmail.com
4     Julia     2022-02-01       2022-02-01     julia@gmail.com
5    Marcus     2022-07-08       2022-07-08    marcus@gmail.com
6    Amanda     2022-09-28       2022-09-28    amanda@gmail.com
7   Larissa     2022-05-28       2022-05-28   larissa@gmail.com
8      Alon     2022-10-06       2022-10-06      alon@gmail.com

#### APIs

In [43]:
# documentação de APIs cada uma é diferente da outra, 
# vejam o módulo de API que eu faço vários exemplos lá

# exemplo sandbox https://dadosabertos.bcb.gov.br/dataset/dinheiro-em-circulao

# exemplo documentação: https://www.alphavantage.co/