### Consumir dados de uma API

In [13]:
import requests 

link =  "https://7f6be50f-79e5-428f-8b7a-3521291b64c0-00-pv3jh0l8hfd8.riker.replit.dev/mentoria"

requisicao = requests.get(link)

In [14]:
print(requisicao.json())

{'aluno': 'Maik Rodrigues', 'professor': 'Lira', 'turma': 'Python impressionador'}

### Criar uma API com Flask

In [ ]:
import pandas as pd
from flask import Flask

app = Flask(__name__)
tabela = pd.read_excel("Vendas - Dez.xlsx")

@app.route("/") #decoretor 
def fat(): # função
	faturamento = float(tabela["Valor Final"].sum())
	return {"faturamento": faturamento}

@app.route("/vendas/produtos")  # decorador 
def vendas_produtos(): 
    tabela_vendas_produtos = tabela[["Produto", "Valor Final"]].groupby("Produto").sum()
    dic_vendas_produtos = tabela_vendas_produtos.to_dict(orient='index')  # Especificando o formato
    return dic_vendas_produtos

@app.route("/vendas/produtos/<produto>") 
def fat_produtos(produto): 
    tabela_vendas_produtos = tabela[["Produto", "Valor Final"]].groupby("Produto").sum()
    dic_vendas_produtos = tabela_vendas_produtos.to_dict(orient='index')
    if produto in tabela_vendas_produtos.index:
        vendas_produto = tabela_vendas_produtos.loc[produto]
        dic_vendas_produtos = vendas_produto.to_dict() 
        return  dic_vendas_produtos
    else:
        return {"produto": "Inexistente"}
    
app.run(host="0.0.0.0") # Colora o site no

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on all addresses.
   WARNING: This is a development server. Do not use it in a production deployment.
 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [06/Oct/2024 10:47:24] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [06/Oct/2024 10:48:09] "GET /vendas/produtos HTTP/1.1" 200 -
127.0.0.1 - - [06/Oct/2024 10:48:26] "GET /vendas/produtos/Bermuda%20Listrado HTTP/1.1" 200 -

In [25]:
import pandas as pd 

tabela = pd.read_excel("Vendas - Dez.xlsx")
teste = tabela[["Produto", "Valor Final"]].groupby("Produto").count()
teste

                  Valor Final
Produto
Bermuda                    59
Bermuda Estampa            49
Bermuda Linho              61
Bermuda Liso               44
Bermuda Listrado           55
...                       ...
Tênis Estampa              56
Tênis Linho                58
Tênis Liso                 60
Tênis Listrado             49
Tênis Xadrez               54

[120 rows x 1 columns]