#### Bibliotecas

In [1]:
# pandas 
import pandas as pd
df = pd.DataFrame(
{
    "Nome":["Maik", "Maiana", "Dionisio","Genivalda"],
    "Idade":["29", "26","53","51"]
})

df["Idade"].max()

'53'

In [2]:
# requests

#### Funções Específicas

In [3]:
# datas no pandas

In [21]:
# funcao datetime
import pandas as pd

tabela = pd.read_excel("Contratos.xlsx")
tabela["Data Pagamento"] = pd.to_datetime(tabela["Data Pagamento"], format= '%d/%m/%Y')
tabela["Data Pagamento 2"] = pd.to_datetime(tabela["Data Pagamento 2"], format= '%m-%d-%y')
print(tabela.dtypes)
display(tabela)

Cliente                     object
Data Pagamento      datetime64[ns]
Data Pagamento 2    datetime64[ns]
dtype: object

    Cliente Data Pagamento Data Pagamento 2
0    Fulano     2022-09-22       2022-09-22
1  Beltrano     2022-04-17       2022-04-17
2   Ciclano     2022-02-21       2022-02-21
3      Lira     2022-12-27       2022-12-27
4     Julia     2022-02-01       2022-02-01
5    Marcus     2022-07-08       2022-07-08
6    Amanda     2022-09-28       2022-09-28
7   Larissa     2022-05-28       2022-05-28
8      Alon     2022-10-06       2022-10-06

In [5]:
# funcao merge do pandas

#### APIs

In [6]:
# documentação de APIs cada uma é diferente da outra, 
# vejam o módulo de API que eu faço vários exemplos lá

# exemplo sandbox https://dadosabertos.bcb.gov.br/dataset/dinheiro-em-circulao

# exemplo documentação: https://www.alphavantage.co/